@using Northwind.Models;
@model IEnumerable<Order>

<h1>Orders</h1>
<form class="mb-3">
    <div class="row">
        <div class="col-3">
            <label for="filterType">Filter By...</label>
        </div>
        <div class="col-3">
            <select id="filterType" class="form-control">
                <option value=""> - </option>
                <option value="overdue" selected>Overdue</option>
                <option value="near-overdue-1-month">Near Overdue (1 Month)</option>
                <option value="near-overdue-2-week">Near Overdue (2 Weeks)</option>
                <option value="near-overdue-1-week">Near Overdue (1 Week)</option>
                <option value="near-overdue-3-day">Near Overdue (3 days)</option>
                <option value="near-overdue-1-day">Near Overdue (1 day)</option>
            </select>
        </div>
    </div>
    <button id="filter" class="btn btn-secondary">Filter</button>
</form>
<table class="table">
    <thead class="thead-dark">
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Date Ordered</th>
        <th>Date Required</th>
        <th>Date Shipped</th>
        <th>Address</th>
        <th>City</th>
        <th>State/Region</th>
        <th>Postal Code</th>
        <th>Country</th>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(function(){
            getOrders();
            $("#filter").on("click", function(event){
                event.preventDefault();
                getOrders();
            })
            function getOrders(){
                $("tbody").empty();
                let orders;
                let url;
                if($("#filterType").val() === 'overdue'){
                    url = "../../api/orders/overdue";
                } else if ($("#filterType").val() === 'near-overdue-1-day'){
                    url = "../../api/orders/overdue/1";
                } else {
                    url = "../../api/orders";
                }
                $.getJSON({
                    url: url,
                    success: function (response, textStatus, jqXhr) {
                        orders = response;
                        for(let i = 0; i < response.length; i++){
                            console.log(response[i]);
                            let row = `
                                <tr>
                                    <td>${response[i].orderId}</td>
                                    <td>${response[i].customerId}</td>
                                    <td>${new Date(response[i].orderDate).toLocaleDateString()}</td>
                                    <td>${new Date(response[i].requiredDate).toLocaleDateString()}</td>
                                    <td>${response[i].shippedDate != null ? new Date(response[i].shippedDate).toLocaleDateString() : "N/A"}</td>
                                    <td>${response[i].shipAddress}</td>
                                    <td>${response[i].shipCity}</td>
                                    <td>${response[i].shipRegion != null ? response[i].shipRegion : "N/A"}</td>
                                    <td>${response[i].shipPostalCode}</td>
                                    <td>${response[i].shipCountry}</td>
                                </tr>
                            `
                            $("tbody").append(row);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // log the error to the console
                        console.log("The following error occured: " + textStatus, errorThrown);
                    }
                });
            }
        });
    </script>
}